/* instellingen */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

a {
  color: white;
}
/* hoofding */
header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}

header img {
  width: 3rem;
}
header nav a {
  text-decoration: none;
  padding: 20px;
}

header nav a:hover {
  text-decoration-line: underline;
}

header nav li {
  display: inline-block;
}

header i {
  font-size: 25px;
  color: white;
}

header input {
  width: 7rem;
  padding: 0, 5rem;
}

/* vormgeving classes */

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
  width: 50px;
}

.videoframe {
  overflow: hidden;
  margin-bottom: 3rem;
  max-height: 100vh;
}

video {
  width: 100%;
}

.flex-container-main {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
  padding-bottom: 100px;
}

.heren {
  width: 350px;
}

.meer {
  width: 350px;
  gap: 0;
}

h2 {
  margin-left: 45px;
}

.flex-container-main-categories {
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
  padding-bottom: 100px;
  margin-right: 20px;
}

.flex-container-main-categories img {
  width: 360px;
}
figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 15%;
  left: 18%;
}

button {
  border-radius: 100px;
  align-content: center;
  padding: 5px 10px;
  border-style: hidden;
  background-color: white;
  font-family: rubik, sans-serif;
  font-size: 20px;
}
footer {
  padding: 20px;
  background-color: black;
  font-size: 14px;
  color: aliceblue;
  display: block;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }
    footer ul li {
      font-size: 0.8rem;
      line-height: 2;
      list-style-type: none;
  }
  footer li {
    list-style: none;
  }
  a {
    color: rgb(255, 255, 255);
  }
  .fa-brands{
    font-weight: 400;
  }
  .fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
  }
  .icons {
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
  }
