@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: black;
  font-family: "Bebas Neue", cursive;
  color: rgb(255, 0, 0);
  margin: 0;
  
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-size: 40px;
  transition: color 0.2s ease, text-shadow 0.3s ease;
}




.left-nav {
  margin-right: auto;
}

.right-nav {
  margin-left: auto;
}

.logo {
  width: 70%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  justify-content: center;
}
.grid-item {
  width: 330px;
  height: 330px;
  background-color: white;
  border-radius: 20px;
  overflow: ;
  position: relative;
}

.grid-item img {
  width: 330px;
  height: 330px;
  object-fit: cover;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: ;contain: size;
  transition: all 0.3s ease;
}

}

.name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(255, 0, 0);
  transition: color 0.2s ease, filter 0.3s ease;
}

.date {
  font-size: 20px;
  margin-top: 5px;
  color: rgb(255, 0, 0);
  transition: color 0.2s ease, filter 0.3s ease;
}




}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

.line-up {
  text-align: left;
  font-size: 70px;
  margin-left: 30px;
  margin-bottom: 30px;
}

footer {
  background-color: #ffffff;
  padding-bottom: 1px;
  padding-top: 100px;
}

 

.icon:hover {
  filter: brightness(0.7);
}

.footer_actions {
  background-color: #ffffff;
  padding: 20px;
}

.footer_actions_columns {
  display: flex;
  justify-content: center;
}

.footer_actions ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 20px;
}

.footer_actions li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: transparent;
}

.footer_actions li:hover {
  background-color: transparent;
}

.footer_actions a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease, text-shadow 0.3s ease;
}




.copyright {
  font-size: 20px;
  margin-left: 10px;
}
