@import url("https://use.typekit.net/hfi1kak.css");

:root {
  --bgc-01: hsl(0, 0%, 2%);
  --bgc-02: hsl(0, 0%, 8%);
  --txt-01: hsl(0, 100%, 50%);
  --txt-red: rgb(255, 0, 0);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

@media (max-width: 750px) {
  .center {
    margin-left: auto;
  margin-right: auto;
  width: 70%
  }
}




.date {
  margin-left: 1cm;
}

@media (max-width: 750px) {
  .date {
    font-size: xx-small;
    margin-left: 7%;
  }
}

body {
  background-color: var(--bgc-01);
  color: var(--txt-01);
  font-family: "owners-wide", sans-serif;
  line-height: 1;
}

img {
  display: block;
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: var(--txt-01);
  text-decoration: none;
}

.main {
  padding: 2rem;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-text {
  text-align: right;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.lineup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 600px) {
  .lineup {
    grid-template-columns: repeat(1, 1fr); /* 6 kolommen */
  }
}

.grid-card {
  display: grid;
  grid-template-rows:  1fr;
  gap: 20px;
  text-align: center;
}

.card-image {
  width: 60%;
  justify-content: center;
  margin-left: 20%;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  grid-row: 2;
  text-align: center;
  padding-top: 3%;
}

.card-text {
  font-size: 16px;
  grid-row: 3;
 padding: 3%;
  text-align: center;
}

.card-social-media {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card-youtube {
  grid-column: auto;
  grid-row: auto;
}

.card-youtube iframe {
  width: 50%;
  height: 300px;
  justify-content: center;
  display: flex;
  margin-left: 45%
  
}

@media (width <= 768px) {
 .artiest .grid-card{
  grid-template-columns: 1fr 1fr;
 }

 .card-content {
  align-items: flex-start;
 }
}


@media (max-width: 750px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    
    
  }
}



footer {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: red;
}

footer i {
  padding: 20px;
  font-size: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-media a img {
  width: 30px;
  height: 30px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-links h4 {
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 480px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 750px) {
  .icon-container {
    flex-direction: row;
    align-items: center
  }
}



.footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-text {
  text-align: right;
}

.icon-container {
  display: flex;
  justify-content: center;
}

header input#burger {
  display: none;
}

header label[for="burger"] {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 3%;
  display: none;
  width: 10%;
  padding: 1rem 1ch;
  
  text-align: right;
  cursor: pointer;
}

header label[for="burger"] i {
  margin: 0;
  font-size: 1.25rem;
}

@media (width <=750px) {
  header label[for="burger"] {
      display: block;
      
  }
  

  header nav ul {
      position: fixed;
      z-index: 3;
      top: 3rem;
      right: 0;
      display: none;
      padding-right: 1ch;
      width: 100%;
      background-color: var(--bgc-02);
      text-align: right;
      user-select: none;
  }

  header input#burger:checked+label[for="burger"]+nav ul {
      display: flex;
      flex-direction: row;
      padding: 5%;
      
  }
}