/*center text within the element*/
header h1 {
  text-align: center;
}
/*margin auto centers the element*/
section {
  width: 50vw;
  background-color: black 
  color white;
  text-align: center;
  margin: auto;
}

/*center the child element horizontal and vertical within the parent element*/

footer{
    width: 50vw;
    height: 30vh;
    background-color: blanchedalmond;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}